{% load static %}
<!-- JavaScript Libraries -->
<script src="{% static 'https://code.jquery.com/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>

{% block script %}

{% endblock %}